.meal {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(215, 215, 215);
  padding: 10px 0px;
}

.meal_details {
  display: grid;
  gap: 5px;
}

.meal_name {
  font-weight: bold;
}

.meal_description {
  font-style: italic;
}

.meal_price {
  color: rgb(211, 59, 59);
  font-weight: bold;
}
